.internship {
    padding-left: 10%;
    padding-right: 10%;
    background-color: #e1effd;
    
  }

  .footerGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Default: Mobile - 2 columns */
    gap: 40px;
    margin-bottom: 60px;
  }
  
  /* Tablet: ≥ 768px */
  @media (min-width: 768px) {
    .footerGrid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  /* Desktop: ≥ 1200px */
  @media (min-width: 1200px) {
    .footerGrid {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  
  
  .internshipContent {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-top: 2rem;
  }
  
  .internshipImage {
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  }
  
  .internshipImg {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .internshipText {
    flex: 1;
  }
  
  .internshipText h3 {
    font-size: 1.8rem;
    color: #6e48aa;
    margin-bottom: 20px;
  }
  
  .internshipText p {
    margin-bottom: 20px;
    font-size: 1.1rem;
    line-height: 1.7;
    color: #333;
  }
  
  .internshipFeatures {
    list-style: none;
    margin: 30px 0;
    padding: 0;
  }
  
  .internshipFeatures li {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    font-size: 1.05rem;
  }
  
  .internshipFeatures i {
    color: #6e48aa;
    margin-right: 10px;
    font-size: 1.2rem;
  }
  
  .internshipButtons {
    display: flex;
    gap: 15px;
    margin-top: 30px;
  }
  
  @media (max-width: 992px) {
    .internshipContent {
      flex-direction: column;
      gap: 30px;
      padding-top: 2rem;
    }
    
    .internshipImage, .internshipText {
      width: 100%;
    }
    
    .internshipButtons {
      flex-direction: column;
    }
    
    .internship {
      padding-left: 10%;
      padding-right: 10%;
    }
  }